[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Toggle Backlight
Comment=Toggle alienware keyboard backlight
Icon=keyboard-brightness-symbolic
Exec=alienfx-toggle
StartupNotify=false
Type=Application
Categories=System;
GenericName=alienfx-toggle
NoDisplay=false
